html {
  --nav-background: rgba(97, 79, 68, 0.767);
  --nav-border: .1em solid rgba(97, 79, 68, 0.767);;
}

nav {
  background: var(--nav-background);
  border: var(--nav-border);
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 1.5rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li{
  border-radius: 5px;
}

nav :is(ul, li) {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

nav ul li {
  padding: .5em;
  transition: .3s;
  border-radius: 5px;
  cursor: pointer;

  margin: 10px;
}

nav ul li:hover {
  background-color: rgba(255, 255, 255, .5);
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:active {
  color: yellowgreen;
}

nav a:visited {
  color: red;
}

nav > ul > li {
  position: relative;
}

nav > ul > li > ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(226, 216, 216);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  font-size: 1.2rem;
  border: 1.5px solid;
}

nav > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
}

nav > ul > li > ul > li {
  display: block;
}

nav > .logo {
  height: 5rem;
  margin: .5%;
}

main{
  padding: 1rem;
  margin-block: 2rem;
}

div.galeria{
  border: 5px solid rgb(121, 31, 8); 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 400px);
  gap: 2rem;
}

div.galeria > div {
  background-color: rgb(211, 195, 195);
}

div.galeria > :nth-child(1) {
  background-color:rgb(121, 31, 8);
  
  grid-column-start:1;
  grid-column-end:3;

  grid-row-start:1;
  grid-row-end:3;
}

div.galeria > :nth-child(4) {
  background-color:wheat;

  grid-column-start:3;
  grid-column-end:5;

  grid-row-start:2;
  grid-row-end:3;

}